input
output
models
extra_data
data

external
detectron2
multiperson
detectors

.idea
*.lprof
*.pkl
*.pyc
*.swp
*.png
*.jpg
*.zip
.ipynb_checkpoints

tmp*
results/
**__pycache**
*@neomake*
dex-ycb-toolkit/
sample_data
