chumpy
easydict
ipdb
matplotlib
motpy
numpy
opencv-python
PyYAML==5.1
pytorch3d
loguru
scikit-image
scipy
smplx
tqdm
transforms3d
trimesh
git+https://github.com/hassony2/chumpy.git
git+https://github.com/hassony2/MANO.git
git+https://github.com/hassony2/manopth.git@return_centerjoint
git+https://github.com/hassony2/libyana.git
